h2 {
    display: inline-block;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Teko', sans-serif;
    font-size: 100px;
    color: rgb(140, 240, 207);
}

body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.social-icons ul {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-icons ul li {
    list-style: none;
    margin: 0 10px;
}
.social-icons ul li .fa {
    color: #000000;
    font-size: 30px;
    line-height: 50px;
    transition: .5s;
    margin-top: 10px;
}
.social-icons ul li .fa:hover {
    color: #ffffff;
}
.social-icons ul li a {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(153, 162, 245);
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-icons ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-icons ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-icons ul li:nth-child(2) a:hover {
    background-color: #0077B5;
}
.social-icons ul li:nth-child(3) a:hover {
    background-color: #131418;
}
.social-icons ul li:nth-child(4) a:hover {
    background-color: #dd4b39;
}

.music {  
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img_main {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform 1s ease;
}

.img_main:hover {
    transform: rotate(360deg) scale(1.2);
}

@keyframes rotate_animation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes zoom_animation {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.3,1.3);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes opacity_animation {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

@keyframes brightness_animation {
    0% {
        filter: brightness(0.2);
    }
    50% {
        filter: brightness(1.2);
    }
    100% {
        filter: brightness(0.2);
    }
}

