* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("background.gif");
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
#fullpage {
  width: 960px;
  margin: 50px auto;
}
.dia-cd {
  width: 400px;
  height: 400px;
  margin: auto;
  padding: 0;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  border: 1px solid #ccc;
  animation: xoayvong 5s linear 0s infinite;
  -webkit-animation: xoayvong 5s linear 0s infinite;
  -moz-animation: xoayvong 5s linear 0s infinite;
  -o-animation: xoayvong 5s linear 0s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes xoayvong {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes xoayvong {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.icons-left{
  position: fixed;
  top: 30%;
  left: 0%;
  width: 200px;
  display: flex;
  flex-direction: column;
} 
.icons-left a{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    margin-top: 15px; 
    text-align: right;
    border-radius: 0px 50px 50px 0px;
    transform: translate(-130px, 0px);
}
.icons-left a:hover{
  transform: translate(0px, 0px);
}
.icons-left a i{
  margin-left: 25px; 
  background-color: white;
  height: 40px;
  width: 40px;
  color: black;
  text-align: center;
  line-height: 160%;
  border-radius: 50%;
}
.facebook{
  background-color: #2c80D3;
  color: white;
}
.instagram{
  background-color: #a75017;
  color: white;
}
.youtube{
  background-color: red;
  color: white;
}

.icons-right{
  position: fixed;
  top: 30%;
  right: 0%;
  width: 200px;
  display: flex;
  flex-direction: column;
} 
.icons-right a{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    margin-top: 15px; 
    text-align: left;
    border-radius: 50px 0px 0px 50px;
    transform: translate(130px, 0px);
}
.icons-right a:hover{
  transform: translate(0px, 0px);
}
.icons-right a i{
  margin-right: 25px; 
  background-color: white;
  height: 40px;
  width: 40px;
  color: black;
  text-align: center;
  line-height: 160%;
  border-radius: 50%;
}
.email{
  background-color: rgb(12, 119, 146);
  color: white;
}
.github{
  background-color: rgb(165, 155, 155);
  color: black;
}
.heart{
  background-color: rgb(165, 155, 155);
  color: black;
}