  /*==Style cho menu===*/
#menu{
  width: 960px;
  height: 35px;
  /* border: 1px solid #333; */
  background-color: #333; 
  margin: auto;
  overflow: hidden;
}
#menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu ul li{
  float: left;
  border-right: 1px solid #fff;
}
#menu ul li a{
  display: block;
  padding: 8px 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
#menu ul li a:hover{
  background-color: lightblue ;
  color: #333;
}

